<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar-conatiner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            background-color: #f4f4f4;
            padding: 10px;
        }
    </style>
</head>

<body>

    <ul class="navbar-conatiner">
        <li><a href="/products/">Home</a></li>
        <li><a href="/products/products">Products</a></li>
        <li><a href="/products/">About</a></li>
        <li><a href="/products/">Contact</a></li>
        <li><a href="/products/cart">Cart</a></li>
        <li><a href="/products/login">Login</a></li>
        <li><a href="/products/register">Register</a></li>
        <li><a href="/products/logout">Logout</a></li>
    </ul>


</body>

</html>