{%include 'navbar.html'%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping APP</title>

    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
            padding: 10px;
            border: 1px solid #000;
        }
        
        .image-size {
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<script>
    function buyNow(id) {
        console.log(id);
        fetch('/products/buynow/' + id + '/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}'
                }
            })
            .then(console.log('Data sent'))
            .then(data => {
                console.log(data, "gd");
            });
    }
</script>

<body>
    <h5>This is template</h5>
    {% for product in products%}

    <div class="container">
        <img class="image-size" src="{{product.thumbnail}}" alt="{{product.title}}">
        <h3>{{product.title}}</h3>
        <p>{{product.price}}</p>
        <p>{{product.description}}</p>
        <button onclick="buyNow('{{ product.id }}')">Buy now</button>
    </div>
    {% endfor %}


</body>

</html>